* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2F3EE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.gender-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.gender-options input {
    margin-right: 5px;
}

.dob {
    display: flex;
    justify-content: space-between;
}

.dob select {
    width: 32%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.agreement {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.agreement input {
    margin-right: 5px;
}

.agreement label {
    font-size: 14px;
    color: #555;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #A61B24;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-image: url(pic/ii.gif);
    color: #ffffff;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
    
} 